HELP.md

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log

# Spring Boot
*.pid
*.seed

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# OS Files
.DS_Store
Thumbs.db
